In [1]:
import pandas as pd
import numpy as np

In [43]:
data = pd.read_csv('Dataset/Athens.csv')
print(data.shape)

# Controversial choice, but lets see
data = data.dropna()
print(data.shape)

data.head()

(66747, 84)
(26758, 84)

,last_update_date,N_qubits,N_cx,N_measures,cx_0_1,cx_0_2,cx_0_3,cx_0_4,cx_1_0,cx_1_2,...,T2_3,readout_error_3,T1_4,T2_4,readout_error_4,0,1,2,3,4
6,2020-05-03 10:03:21+02:00,5,1,5,0,0,0,0,0,0,...,24.146419,0.016667,53.144192,76.958280,0.023333,4.0,3.0,2.0,1.0,0.0
7,2020-12-07 23:06:24+01:00,5,14,5,0,2,2,0,0,0,...,25.182228,0.016700,72.930044,64.517835,0.053200,2.0,4.0,1.0,3.0,0.0
8,2020-10-12 08:09:48+02:00,5,6,5,0,0,0,0,0,0,...,28.745950,0.014700,49.958010,72.354731,0.015900,0.0,2.0,1.0,3.0,4.0
9,2020-09-10 13:25:58+02:00,5,17,5,2,0,0,2,0,0,...,44.439039,0.012200,60.279715,82.984785,0.045000,4.0,1.0,0.0,3.0,2.0
13,2020-08-10 07:36:22+02:00,5,13,5,0,0,0,0,0,0,...,45.842043,0.022900,39.173300,115.457597,0.018300,2.0,0.0,3.0,1.0,4.0

In [3]:
len(data.columns)

84

In [44]:
y = data[['0', '1', '2', '3', '4']]
print(y.shape)
y.head()

(26758, 5)

      0    1    2    3    4
6   4.0  3.0  2.0  1.0  0.0
7   2.0  4.0  1.0  3.0  0.0
8   0.0  2.0  1.0  3.0  4.0
9   4.0  1.0  0.0  3.0  2.0
13  2.0  0.0  3.0  1.0  4.0

In [45]:
X = data.drop(columns=['0', '1', '2', '3', '4', 'last_update_date'])
print(X.shape)
X.head()

(26758, 78)

,N_qubits,N_cx,N_measures,cx_0_1,cx_0_2,cx_0_3,cx_0_4,cx_1_0,cx_1_2,cx_1_3,...,readout_error_1,T1_2,T2_2,readout_error_2,T1_3,T2_3,readout_error_3,T1_4,T2_4,readout_error_4
6,5,1,5,0,0,0,0,0,0,0,...,0.0350,106.488868,119.982326,0.011667,80.320345,24.146419,0.016667,53.144192,76.958280,0.023333
7,5,14,5,0,2,2,0,0,0,0,...,0.0428,110.162150,157.132011,0.013700,94.374982,25.182228,0.016700,72.930044,64.517835,0.053200
8,5,6,5,0,0,0,0,0,0,2,...,0.0137,120.966078,94.106302,0.012300,157.856674,28.745950,0.014700,49.958010,72.354731,0.015900
9,5,17,5,2,0,0,2,0,0,0,...,0.0144,91.449658,153.575729,0.013900,60.967640,44.439039,0.012200,60.279715,82.984785,0.045000
13,5,13,5,0,0,0,0,0,0,0,...,0.0153,105.477772,178.278446,0.018400,102.119128,45.842043,0.022900,39.173300,115.457597,0.018300

### Trying it out with TensorFlow

In [ ]:
import tensorflow as tf
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y,
    test_size=0.2,
    random_state=42
)

In [ ]:
initial_deep_nn = tf.keras.Sequential([
    tf.keras.layers.InputLayer(input_shape=(78,)),
    tf.keras.layers.Dense(264),
    tf.keras.layers.Dense(1024),
    tf.keras.layers.Dense(1024)
])

In [ ]:
initial_deep_nn.summary()

In [ ]:
slot_model = tf.keras.Sequential([
    tf.keras.layers.InputLayer(input_shape=(1024,)),
    tf.keras.layers.Dense(256),
    tf.keras.layers.Dense(128),
    tf.keras.layers.Dense(6)
])

In [ ]:
slot_model.summary()

In [ ]:
initial_deep_nn.compile(tf.keras.optimizers.Adam(), loss=tf.keras.losses.CategoricalCrossentropy())

In [ ]:
model_with_slot_1 = tf.keras.Sequential([
    tf.keras.layers.InputLayer(input_shape=(78,)),
    tf.keras.layers.Dense(264),
    tf.keras.layers.Dense(1024),
    tf.keras.layers.Dense(1024),
    tf.keras.layers.Dense(256),
    tf.keras.layers.Dense(128),
    tf.keras.layers.Dense(5)
])

In [ ]:
model_with_slot_1.compile(tf.keras.optimizers.Adam(), loss=tf.keras.losses.CategoricalCrossentropy())

In [ ]:
model_with_slot_1.fit(X_train, y_train, epochs=10)

In [ ]:
model_with_slot_1.predict(X_test)

In [ ]:
model_with_slot_1.evaluate(X_test, y_test)

#### Failed once again with TensorFlow oof

# PyTorch lesgooo

In [6]:
import torch
from sklearn.model_selection import train_test_split

In [7]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y,
    test_size=0.2,
    random_state=42
)

In [ ]:
X_train.to_csv('Dataset/Athens_x_train.csv', index=False)
X_test.to_csv('Dataset/Athens_x_test.csv', index=False)
y_train.to_csv('Dataset/Athens_y_train.csv', index=False)
y_test.to_csv('Dataset/Athens_y_test.csv', index=False)

In [9]:
from torch.utils.data import Dataset, DataLoader

In [ ]:
class QuantumData(Dataset):
    
    def __init__(self, x_file, y_file):
        self.data_x = pd.read_csv(x_file)
        self.data_y = pd.read_csv(y_file)
        
        self.data_x = torch.tensor(self.data_x.values, dtype=torch.float64)
        self.data_y = torch.tensor(self.data_y.values, dtype=torch.float64)
        
    def __len__(self):
        return len(self.data_x)
    
    def __getitem__(self, idx):
        if torch.is_tensor(idx):
            idx = idx.tolist()
            
        X = self.data_x[idx]
        y = self.data_y[idx]

        return X, y

In [ ]:
training_data = QuantumData('Dataset/Athens_x_train.csv', 'Dataset/Athens_y_train.csv')
testing_data = QuantumData('Dataset/Athens_x_test.csv', 'Dataset/Athens_y_test.csv')

In [ ]:
a, b = training_data[0]
print(a.shape)
print(b.shape)

In [ ]:
type(a)

In [ ]:
print(len(training_data))
print(len(testing_data))

In [ ]:
train_dataloader = DataLoader(training_data, batch_size=64, shuffle=True)
test_dataloader = DataLoader(testing_data, batch_size=64, shuffle=True)

In [ ]:
x, y = next(iter(train_dataloader))
print(x.shape)
print(y.shape)

In [ ]:
class NeuralLayout(torch.nn.Module):
    
    def __init__(self):
        super(NeuralLayout, self).__init__()
        
        self.general_dnn = torch.nn.Sequential(
            torch.nn.Linear(78, 264),
            torch.nn.Linear(264, 1024),
            torch.nn.Dropout(p=0.5)
        )
        
        slot = torch.nn.Sequential(
            torch.nn.Linear(1024, 256),
            torch.nn.Linear(256, 128),
            torch.nn.Linear(128, 5)
        )
        
        self.slots = [slot] * 5
        
    def forward(self, x):
        x = self.general_dnn(x)
        out = [slot(x) for slot in self.slots]
        
        return out

In [ ]:
nl = NeuralLayout()

In [118]:
loss_fn = torch.nn.CrossEntropyLoss()
optimizer = torch.optim.SGD(model.parameters(), lr=0.001)